<% provide(:title,'Admin')%>
<div class="container">
  <div class="jumbotron">
    <h1>Rails Administration-Rubymon</h1>
    <p>Rubymon is a mobile app that allows players to catch, collect monsters, and eventually
      battle them. The game is played on a mobile app but we want to store user and monster
      information in the cloud. We need you to create a RESTful backend API to store and
      organize the monsters.</p>
  </div>
</div>